#Phases{
    background-color: rgb(41, 50, 91);
    margin: 30px;
    width: 45%;
    font-size: larger;
    border: 10px solid rgb(41, 50, 91);
    text-align: center;
    float: right;

}


#Phases td{padding: 10px 50px 10px 20px;}
.case{background-color: rgb(132, 199, 132);width: 50%;}

#PouleA{
    background-color: rgba(0, 0, 255, 0.5);

}

#PouleB{
    background-color: rgba(255, 0, 0, 0.5);
}

#PouleA, #PouleB{
    margin: 10px 0px 10px 10px;
    width:49%;
    text-align: center;
}

th{padding-bottom: 10px;}

#Gagnant{text-align: center;background-color: gold;width: 75%;margin: auto;}

/* Fond de la Page */
html{
	background-color : #030219;background: url(https://gaelbzh.github.io/DrapeauBreton.png) no-repeat center fixed;  /* Fond Drapeau Breton */
	background-size: cover; /* Agrandir Drapeau à la taille de l'écran */
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
}

/* Corps de la Page */
body{
	/*background-color: rgba(255, 255, 255, 0.8);*/
	background-image: linear-gradient(rgba(200,200,255,0.9),rgba(95, 95, 198, 0.9) ), url("");
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid #EEEEEE;
}


/* Sélection de Texte Violette */
::selection {
    background-color: rgb(88, 101, 242); /* Fond Violet */
    color: rgb(255,255,255) /* Texte Blanc */
  }
  /* Sélection de Texte Violette */

  
/* Titre "Cours de Breton" */
h1 {
    text-align:center; 
    color:#FF0000
  }
  /* Titre "Cours de Breton" */

  .no{background-color: #373737;}
  .victoire{color: green;font-weight: bold;}
  .defaite{color: red;font-weight: bold;}
  .nul{color: orange;font-weight: bold;}