/* Fond de Page */
body{
	background-image: linear-gradient(
		rgba(200,200,200,0.9)	,
		rgba(198, 198, 198, 0.9))	, url("");
}
h1{
	background-color: #a13e3c;
	color:rgb(230, 230, 230);
}

/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
}

#BoutonMenu{
	padding: 7px;
}

.Embeds{
	display: flex;
	flex-wrap: wrap;
	margin: 0 10px;
}
.Embeds div{
	width: calc(1250px/3);
	margin: 5px auto;
	border: 1px solid red;
	box-shadow:0 0 10px #1a88e7;
	border: 5px solid rgb(255, 255, 255); /* Bordure Blanche */
    background-color: rgba(250, 250, 250, 0.8); /* Couleur de Fond */
	border-radius: 10px;
}
.Embeds iframe{
	border-radius: 10px;
	
}
#Embed2{
	font-size:99% ;
	padding: 5px;
	text-align: center;
}

#BoutonsNavigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#BoutonsNavigation div{
	width: 260px;
	text-align: center;
	margin: 10px 0;
}

#AuteurCitation{
	font-style: italic;
}
#CommentaireTitre{
	font-weight: 600;
	font-size: larger;
}
hr {
    border: none;
    border-top: 2px solid #000000;
    text-align: center;
	width: 80%;
}


/* Commentaires de Membres */
#Commentaire{
	margin: 15px auto;
	text-align: center; /* Texte Centré */
	font-size: 120%; /* Taille du Texte */
	box-shadow:0 0 10px #1a88e7;
	display:table;
	max-width: 90%;
	border:5px solid rgb(248, 248, 248,0);
	border-radius:0.5em;
	background-color: rgba(255, 255, 255, 0.8);; /* Couleur de Fond */
}
#Commentaire p{
	padding: 0;
	margin: 10px;
}
#AuteurCitation{font-style: italic;}
button img{width: 120%;vertical-align: bottom;}

#Actualisation{
	background-color: silver;
	width: 35px;
	cursor: pointer;
}