/* STYLES GLOBAUX */
html{
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
	scroll-behavior: smooth;
}
body{margin: 0;padding: 0;}
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
}
::-webkit-scrollbar {width: auto;background-color: rgb(241, 241, 241);}					 /* Taille Automatique */
::-webkit-scrollbar-thumb{border: 1px solid rgb(241, 241, 241); background-color: var(--bleuinterbreizh);}	/* Image Barre de Scroll */
:root{
    --bleuinterbreizh: #072d5b;
    --bleuinterbreizhclair: #193f6c;
    --texte: black;
    --highlightedtexte: white;
}
/* STYLES GLOBAUX */









/* HEADER */
header{
    background-color: var(--bleuinterbreizh);
    text-align: center;
    width: 100%;
}
header a{
    font-family: Georgia, serif;
    color: var(--highlightedtexte);
    text-decoration: none;
    font-size: 120px;
    font-weight: 600;
}
header img{width: 115px;
    vertical-align: -15px;}

/* HEADER */











/* MAIN */
main{
    margin: 10px 100px;
}
#Lieu{
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--bleuinterbreizh);
    transform: skewX(-15deg);
    color: var(--highlightedtexte);
    padding: 3px;
    font-weight: 600;
    font-family: 'PT Serif',sans-serif;

}
#Titre{
    color: var(--texte);
}
#Intro{
    color: var(--texte);
    opacity: 80%;
}
#Intro .Source{
    text-decoration: none;
    color: var(--bleuinterbreizh);
    font-weight: 600;
}
#Intro .Source:hover{
    text-decoration: underline;
}
#Intro .Source svg{
    vertical-align: -5px;
}

#Auteur{margin: 10px 0}
#Auteur img{
    background-color: var(--bleuinterbreizh);
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s;
}
#Auteur .DateAuthor{
    color: var(--texte);
    opacity: 60%;
}
#Auteur #authorname{
    font-weight: 600;
}

#ImageArticle {
    border: 3px var(--bleuinterbreizh) solid;
    display: flex;
    flex-flow: column;
    width: min(100%, 800px);
    margin: 0;
}

#ImageArticle img{
    width: 100%;
    background-color: var(--bleuinterbreizh);
}
#ImageArticle figcaption {
    background-color: var(--bleuinterbreizh);
    color: var(--highlightedtexte);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}



/* Article Principal */
/* Balises Utilisables : Liens, Citations, Tweet*/
main article{
    color: var(--texte);
    text-align: left;
    line-height: 1.25em;
}
main article p, main article blockquote{
    width: min(100%, 1000px);
}
main article blockquote{
    border-left: 8px solid var(--bleuinterbreizh);
    margin: 0;
    padding: 0 35px;
}
main article q{display: block;margin-bottom: 5px;}
main article q::before{content: '«';}
main article q::after{content: '»';} /* Guillemets Anglais :   “ ”   */
main article cite::before{
    content: "- ";
}
main article cite{
    font-style: oblique 6deg;
    margin: 0 -9px;
}
main article a{
    text-decoration: none;
    color: var(--bleuinterbreizh);
    font-weight: 600;
}
/* Article Principal */



#Sujets{
    color: var(--bleuinterbreizh);       
}
.Sujets{
    display: flex;
    flex-wrap: wrap;  
    font-family: Arial,sans-serif;
    margin-bottom: 20px;
}

.Sujets a{
    text-decoration: none;
    padding: 5px 7px;
    border: 1px solid var(--texte);
    margin: 0 10px;
    background-color: none;
    color: var(--texte);
    border-radius: 1px;
    transition: 0.3s;
}
.Sujets a:hover {
    border-color: var(--bleuinterbreizh);
    background-color: var(--bleuinterbreizh);
    color: var(--highlightedtexte);
}

#RedacConseils{
    margin: 10px 4%;
}
#Separation {
    position: relative;
    text-align: center;
}
  
#Separation h4 {
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--bleuinterbreizh);
    transform: skewX(-15deg);
    color: var(--highlightedtexte);
    padding: 3px;
    font-weight: 600;
    font-family: 'PT Serif',sans-serif;
}
  
#Separation::before, #Separation::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 50%;
    width: 50%;
    border-top: 2px solid var(--bleuinterbreizh);
    transform: translateY(-50%);
}
#Separation::before{left: 0}
#Separation::after{right: 0}
  
.ListeArticles{
    display: flex;
    flex-wrap: wrap;  
    color:black;
    width: 90%;
    text-align: left;
    margin: 1% auto;}
  
.Article{
  padding: 0 5px;
  width: 30%;
  min-width: 350px;
  max-width: 600px;
  margin: 10px auto ;
  transition: 0.3s;
  color: var(--texte);
}

.Article:hover{
    transform: scale(1.01);
}
.Article:hover h3{
    opacity: 85%;
}

.Article a{
    color: inherit;
    text-decoration: none;
    vertical-align: baseline;
}

.Article img{
    border-radius: 3%;
    display: flex;
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

.Article h3{
    margin: 8px auto;
    font-size: 1.25rem;
    line-height: 120%;
    font-family: "Source Serif Pro Bold","Source Serif Pro Bold-fallback",sans-serif
}

.IconesArticles {
    position: relative;
}
.IconesArticles div:nth-child(1){
    top:0;
}
.IconesArticles div:nth-child(2){
    top:40px;
}
.IconesArticles div:nth-child(3){
    top:80px;
}
.IconeNew, .IconeArticle, .IconeVrai {
    position: absolute;
    right: 0;
    width: 44px;
    fill: var(--bleuinterbreizh);
    stroke:rgb(255, 255, 255);
}
.IconesArticles div:hover{fill: rgb(149, 31, 31);transition: 0.3s;}

.NumPage{margin: 10px auto;width: 10%;border-spacing: 12px;color: var(--texte);}
.NumPage td{text-align: center;vertical-align: middle;cursor: pointer;}
.NumPageNonSelect{
    border: 1px solid silver;
}
.NumPageNonSelect:hover{
    border-color: var(--bleuinterbreizh);
}
.NumPageSelect{
    background-color: var(--bleuinterbreizh);
    color: white;
    font-weight: 500;
    transform: scale(1.15);
    border-radius: 10%;
}
/* MAIN */



























/* FOOTER */
footer{
    background-color: var(--bleuinterbreizh);
}
#Barre{
    text-align: left;
    width: 100%;
    position: sticky; /* Immobile */
	bottom: 0; /* Bas de l'écran */
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}
#Barre a{
    font-family: Georgia, serif;
    color: var(--highlightedtexte);
    text-decoration: none;
    font-size: 45px;
    font-weight: 600;
}
#Barre #Glosbe{
    width: 40px;
    vertical-align: -5px;
}
#Barre ul {
    display: flex;
    width: 10%;
    text-align: center
}
#Barre li {
    display: inline-block;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    text-transform: uppercase
    
}
.SocialMedia{
    width: 30px;
    vertical-align:middle;
    margin-right: 10px;
    transition: transform .2s
}
.SocialMedia:hover{
    transform: scale(1.25);}
.round{border-radius: 50%;}
#Resaux{
    float: right;
    margin-right: 10px;
}
#FooterLinks{
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}
#TableauFooter{
    width: 90%;
    margin: auto auto auto 10%;
    text-align: left;
    color: var(--highlightedtexte);
}
#TableauFooter th{
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    font-size: 1rem;
    line-height: 1.875rem;
    text-transform: uppercase;
    opacity: .3;
}
#TableauFooter td{
    font-size: .75rem;
    line-height: 26px;
    text-decoration: none;
    width: 10%;
}
#TableauFooter td:hover{
    cursor: pointer;
    color: rgb(195, 195, 195);
    text-decoration: underline;
}
#Slogan {
    text-transform: uppercase;
    font-size: 1.875rem;
    padding-left: 50px;
    color: var(--highlightedtexte);
    font-weight: 700;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
}
#Copyright{
    font-size: .6875rem;
    padding: 20px 35px;
    margin: auto;
    line-height: 22px;
    color: rgb(255, 255, 255,0.3);
    text-align: center;
}
/* FOOTER */
