body{background-color: rgb(18, 18, 18);}
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
}
header{background-color: #071a31;}
header a{color:white}
.Themes{color:black;background-color: #0f233b;
border-bottom-color: #0f233b;}
.Themes a{color:rgba(255, 255, 255, 0.8)}
.Themes a:hover {
    border-bottom-color: rgba(255, 255, 255,0.8)
}
#News{   color: white;    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em #0f233b;

}
#Direct{color:rgb(230, 230, 230)}
.Heure{color:orangered;}

.ListeVilles div{
    border-color: #444444;
    background-color: #171717;
    color: #f2f2f2;
}
.ListeVilles div:hover{
    border-color: #0b2bf7;
}
.ListeArticles{
    color: #000;
}
.Article:hover{
    color: rgb(102, 102, 102)
}
#NumPageNonSelect, #NumPageNext{
    border-color: grey;
}
#NumPageSelect{
    background-color: #0f233b;
    color: white;
}
#NumPageNext{background-color: rgba(128, 128, 128, 0.2);}
#close{color: #000;background-color: #fff;}
#pub{    box-shadow: 0px 15px 10px -5px #777;    background-color: #000000;

}
footer{    background-color: #071a31;
}
#Barre{border-bottom-color: rgba(255, 255, 255,0.3);}
#FooterLinks{border-bottom-color: rgba(255, 255, 255,0.3);}
#TableauFooter td:hover{
    color: rgb(195, 195, 195);
}
#Slogan{
    color: #fff;
}
#Copyright{
    color: rgb(255, 255, 255,0.3);
}