/* Fond de Page */
body{
	background-image: linear-gradient(
		rgba(179, 206, 215, 0.9)	,
		rgba(115, 167, 174, 0.9))	, url("");
}

h1{
	background-color: #0d535e;
	color:rgb(230, 230, 230);
}

/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
}

/* Styles des Grandes Parties */
.Partie{
	background-color: rgba(0, 0, 0, 0.1);
	border: 5px solid #1b4c77;
	margin: 5px 5px 40px 5px;
}

/* Titres de Parties */
.TitrePartie{font-weight: bold;font-size: 120%;}

#PartieMotDePasse{
	background-color: rgba(3, 4, 31, 0.25);
	margin-right:1%;
	width: 35%;
	margin-left: 1%;
	text-align: left;
	padding: 1% 2% 0% 2%;
	border: #030219 1px solid;
}
#Sommaire{
	background-color: rgb(40, 42, 42,0.25);
	margin-right: 1%;
	margin-left: 35%;
	width: 20%;
	text-align: right;
	padding: 0%;
	border: #030219 1px solid;
	visibility:hidden
}
#Sommaire a, #Sommaire a:visited{color:#282a2a}
#Sommaire a:hover{color:#ca0b0b}
.box {
	display: flex;
	align-items: stretch;
  }
		

.Logo{width: 100%;text-align: right;}

/* Style Image Armoiries */
#Armoiries{
	display: block;
	width: 40%;
	margin: auto;margin-bottom: 30px;
	opacity: 95%;
	background: radial-gradient(rgba(14, 14, 87, 0.16),rgba(14, 14, 87, 0.16),rgba(14, 14, 87, 0.16),  transparent,  transparent);}


/* Styles Tableaux */
#ListeMembres table{margin-bottom: 30px}
#ListeMembres td{width : 20%;text-align :center;color:#e0e1e5} /* Centrer Éléments */
#ListeMembres td img{border-radius: 50%;width: 40%;}
#ListeMembres table{background-color: rgba(72, 72, 72, 0.4);margin: 0 3%;}
#ListeMembres .Logo{width: 30px;}
#ListeMembres{margin-bottom: 15px;}

#boutonacces:hover{cursor: pointer;}
iframe{height: 500px;width: auto ;display: block;
	border-left: 7px solid silver;
	border-bottom: 7px solid rgb(101, 101, 101);
	border-top: 7px solid rgb(176, 192, 255);margin-bottom: 50px;
}
#Salles{margin: auto;border-spacing: 100px 10px;width: 100% ;}
#Salles td{width : 1%;text-align :center}
.NumeroSalle{text-align: center;background-color: rgb(139, 51, 51);}
#Salles a, #Salle a:hover, #Salle a:visited{color: rgb(227, 227, 227)}

#ListeNoire{border: rgb(218, 218, 218) 2px ridge;width: 90%;font-size: 90%;text-align: center;margin: auto auto 10px auto;  border-spacing:0}
#ListeBlanche td, #ListeNoire td{padding: 30px 10px;border: #ffffff1b 1px solid;}
#ListeNoire thead{height: 75px ;background-color: rgb(0, 0, 0);color: #e0e1e5;}
#ListeNoire th{border: #ffffff1b 1px solid}
#ListeNoire tbody .Pair{background-color: rgba(10, 14, 63, 0.7) ;color: #e0e1e5;}
#ListeNoire tbody .Impair{background-color: rgba(2, 6, 35, 0.7);color: #e0e1e5;}

#ListeBlanche{border: rgb(0, 0, 0) 2px ridge;width: 75%;font-size: 90%;text-align: center;margin: auto auto 10px auto;  border-spacing:0}
#ListeBlanche thead{height: 60px ;background-color: rgb(84, 99, 156);color: #0f0f0f;}
#ListeBlanche th{border: #ffffff1b 1px solid}
#ListeBlanche tbody .Pair{background-color: rgba(167, 170, 192, 0.85) ;color: #0f0f0f;}
#ListeBlanche tbody .Impair{background-color: rgba(201, 203, 218, 0.85);color: #0f0f0f;}
#ListeBlanche img{border-radius:50%;width: 100%;}
#ListeBlanche .CaseAvatar{width: 10%;}

#ConseilSecurite td{width : 1%;text-align :center}
#ConseilSecurite img{background: radial-gradient(rgba(14, 14, 87, 0.10), rgba(14, 14, 87, 0.10),rgba(14, 14, 87, 0.10),rgba(14, 14, 87, 0.10),  transparent, transparent,  transparent);}
 

.docapercu{
	box-shadow: 0 10px 30px -15px rgba(30, 33, 36, 0.85);
	height: 8rem;
	width: auto;
	transform: rotate(-3deg);
	transition: transform ease-in-out 125ms;
	margin: 0 0 10px 10px
}
.docdownload {display: flex;flex-direction: column;justify-content: center;line-height: 1.25;margin-left: 1.5rem;max-width: 30ch;}

.doc small{font-size: 0.85em}
.doc p{margin: 0}
a[download] {background-color: transparent;color: #ae2323;font-size: 1.25em;font-weight: 500;letter-spacing: 0.025em;text-decoration: none;transition: box-shadow ease-in-out 125ms;}
a[download]:focus, a[download]:hover {color: #c84d4d;border-bottom: none;box-shadow: none;transition: box-shadow ease-in-out 125ms;}
abbr[title]{cursor: help;text-decoration: none;border-bottom: 1px dotted currentColor;}
.doc {display: flex; margin-bottom: 10px;}
.doc img:hover{transform: rotate(0);transform: scale(1.25);transition: transform ease-in-out 500ms;}
