/* FOOTER */
footer{    background-color: var(--ssbnoir);
}
#Barre{
    text-align: left;
    width: 100%;
    position: sticky; /* Immobile */
	bottom: 0; /* Bas de l'écran */
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}
#Barre a{
    font-family: Georgia, serif;
    color: var(--texte);
    text-decoration: none;
    font-size: 45px;
    font-weight: 600;
}
#Barre #LogoFooterSSB{
    width: 40px;
    vertical-align: -5px;
}
#Barre ul {
    display: flex;
    width: 10%;
    text-align: center
}
#Barre li {
    display: inline-block;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    text-transform: uppercase
    
}
.SocialMedia{
    width: 30px;
    vertical-align:middle;
    margin-right: 10px;
    transition: transform .2s
    }
.SocialMedia:hover{
    transform: scale(1.25);}
.round{border-radius: 50%;}
#Resaux{
    float: right;
    margin-right: 10px;
}
#FooterLinks{
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}
#TableauFooter{
    width: 90%;
    margin: auto auto auto 10%;
    text-align: left;
    color: var(--texte);
}
#TableauFooter th{
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    font-size: 1rem;
    line-height: 1.875rem;
    text-transform: uppercase;
    opacity: .3;
}
#TableauFooter td{
    font-size: .75rem;
    line-height: 26px;
    text-decoration: none;
    width: 10%;
}
#TableauFooter td:hover{
    cursor: pointer;
    color: var(--ssbrouge);
}
#Slogan {
    text-transform: uppercase;
    font-size: 1.875rem;
    padding-left: 50px;
    color: var(--texte);
    font-weight: 700;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
}
#Barre a:hover{
    color: var(--ssbrouge);
}
#Copyright{
    font-size: .6875rem;
    padding: 20px 35px;
    margin: auto;
    line-height: 22px;
    color: rgb(255, 255, 255,0.3);
    text-align: center;
}
/* FOOTER */