/* STYLES GLOBAUX */
html{
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
	scroll-behavior: smooth;
}
body{margin: 0;padding: 0;background-color: #4a5050;}
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
}
::-webkit-scrollbar {width: auto;background-color: rgb(241, 241, 241);}					 /* Taille Automatique */
::-webkit-scrollbar-thumb{border: 1px solid rgb(241, 241, 241); background-color: var(--ssbnoir);}	/* Image Barre de Scroll */
:root{
    --ssbnoir: #282a2a;
    --ssbnoirclair: #3d4141;
    --texte: rgba(255, 255, 255, 0.8);
    --ssbrouge:#ca0b0b;
}
/* STYLES GLOBAUX */

#PartieMotDePasse{
	background-color: var(--ssbnoir);
	margin-right:1%;
	width: 35%;
	margin-left: 1%;
	text-align: left;
	padding: 1% 2% 0% 2%;
    color: var(--texte);
    border: 2px solid var(--ssbrouge);
	font-size: 100%;
}
#Sommaire{
	background-color: var(--ssbnoirclair);
	margin-right: 1%;
	margin-left: 35%;
	width: 20%;
	text-align: right;
	padding: 0%;
    border: 2px solid var(--ssbrouge);
	display: none;
    color: var(--texte);
	font-size: 100%;
}
#Sommaire a, #Sommaire a:visited{color:var(--texte)}
#Sommaire a:hover{color:var(--ssbrouge)}
.MDPSomm {
	display: flex;
	align-items: stretch;
    margin: 17px 0;
  }
  #boutonacces:hover{cursor: pointer;}


.Logo{width: 100%;text-align: right;}

/* Style Image Armoiries */
#Armoiries{
	display: block;
	width: 40%;
	margin: auto;margin-bottom: 30px;
	opacity: 95%;
	background: radial-gradient(rgba(14, 14, 87, 0.16),rgba(14, 14, 87, 0.16),rgba(14, 14, 87, 0.16),  transparent,  transparent);
}
