/* MAIN */
main {
    margin: 0 30px;
    display: none;
}

main p {
    color: var(--texte);
}

.Partie {
    background-color: var(--ssbnoir);
    border: 5px solid var(--ssbrouge);
    margin: 5px 5px 40px 5px;
    padding: 0 10px;
}

.TitrePartie {
    font-weight: bold;
    font-size: 120%;
}

#espace{
	height: 300px;
}




/* Partie 1 */
#ListeMembres {
    display: flex;
    flex-wrap: wrap;
    color: var(--texte);
    text-align: center;
}

#ListeMembres .Name {
    font-weight: 600;
}

#ListeMembres .Small {
    font-size: small;
}

#ListeMembres .SSB {
    font-weight: 600;
    color: rgb(255, 141, 228);
}

#ListeMembres table:nth-child(1) .Serv { color: #ff8039; }
#ListeMembres table:nth-child(2) .Serv { color: #31f33a; }
#ListeMembres table:nth-child(3) .Serv { color: #ff0000; }
#ListeMembres table:nth-child(4) .Serv { color: #31f369; }
#ListeMembres table:nth-child(5) .Serv { color: #31f399; }

#ListeMembres .Photo img {
    border-radius: 50%;
    width: 40%;
}

#ListeMembres table {
    width: calc(1400px / 5);
    margin: 0 auto;
}

.loupe {
    transition: transform .2s;
}

.loupe:hover {
    transform: scale(1.25);
}






/* Partie 2 */
iframe {
    height: 500px;
    width: auto;
    display: block;
    border-left: 7px solid silver;
    border-bottom: 7px solid rgb(101, 101, 101);
    border-top: 7px solid rgb(176, 192, 255);
    margin-bottom: 50px;
}

#Salles {
    margin: auto;
    border-spacing: 100px 10px;
    width: 75%;
}

#Salles td {
    text-align: center;
}

.NumeroSalle {
    text-align: center;
    background-color: rgb(139, 51, 51);
}

#Salles a,
#Salle a:hover,
#Salle a:visited {
    color: rgb(227, 227, 227);
}






/* Partie 3 */
#ListeNoire {
    border: rgb(218, 218, 218) 2px ridge;
    width: 90%;
    font-size: 90%;
    text-align: center;
    margin: auto auto 10px auto;
    border-spacing: 0;
}

#ListeBlanche td,
#ListeNoire td {
    padding: 30px 10px;
    border: #ffffff1b 1px solid;
}

#ListeNoire thead {
    height: 75px;
    background-color: rgb(0, 0, 0);
    color: #e0e1e5;
}

#ListeNoire th {
    border: #ffffff1b 1px solid;
}

#ListeNoire tbody .Pair {
    background-color: rgba(10, 14, 63, 0.7);
    color: #e0e1e5;
}

#ListeNoire tbody .Impair {
    background-color: rgba(2, 6, 35, 0.7);
    color: #e0e1e5;
}






/* Partie 4 */
#ListeBlanche {
    border: rgb(0, 0, 0) 2px ridge;
    width: 75%;
    font-size: 90%;
    text-align: center;
    margin: auto auto 10px auto;
    border-spacing: 0;
}

#ListeBlanche thead {
    height: 60px;
    background-color: rgb(84, 99, 156);
    color: #0f0f0f;
}

#ListeBlanche th {
    border: #ffffff1b 1px solid;
}

#ListeBlanche tbody .Pair {
    background-color: rgba(167, 170, 192, 0.85);
    color: #0f0f0f;
}

#ListeBlanche tbody .Impair {
    background-color: rgba(201, 203, 218, 0.85);
    color: #0f0f0f;
}

#ListeBlanche img {
    border-radius: 50%;
    width: 100%;
}

#ListeBlanche .CaseAvatar {
    width: 10%;
}






/* Partie 5 */
#ConseilSecurite td {
    width: 1%;
    text-align: center;
}

#ConseilSecurite img {
    background: radial-gradient(rgba(14, 14, 87, 0.10), rgba(14, 14, 87, 0.10), rgba(14, 14, 87, 0.10), rgba(14, 14, 87, 0.10), transparent, transparent, transparent);
}






/* Partie 6 */
.docapercu {
    box-shadow: 0 10px 30px -15px rgba(30, 33, 36, 0.85);
    height: 8rem;
    width: auto;
    transform: rotate(-3deg);
    transition: transform ease-in-out 125ms;
    margin: 0 0 10px 10px;
}

.docdownload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.25;
    margin-left: 1.5rem;
    max-width: 30ch;
}

.doc small {
    font-size: 0.85em;
}

.doc p {
    margin: 0;
}

a[download] {
    background-color: transparent;
    color: #ae2323;
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-decoration: none;
    transition: box-shadow ease-in-out 125ms;
}

a[download]:focus,
a[download]:hover {
    color: #c84d4d;
    border-bottom: none;
    box-shadow: none;
    transition: box-shadow ease-in-out 125ms;
}

abbr[title] {
    cursor: help;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
}

.doc {
    display: flex;
    margin-bottom: 10px;
}

.doc img:hover {
    transform: rotate(0);
    transform: scale(1.25);
    transition: transform ease-in-out 500ms;
}