/* Fond de la Page */
html{
	background-color : #030219;background: url(../Images/DrapeauBreton.png) no-repeat center fixed;  /* Fond Drapeau Breton */
	background-size: cover; /* Agrandir Drapeau à la taille de l'écran */
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
}

/* Corps de la Page */
body{
	background-image: linear-gradient(rgba(90, 180, 117, 0.9),rgba(47, 158, 71, 0.9) ), url("");
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid #EEEEEE;
    
}

/* Sélection de Texte Violette */
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
  }
  /* Sélection de Texte Violette */
  
  
  
/* Barre de Scroll */
	::-webkit-scrollbar {width: auto;}					 /* Taille Automatique */
	::-webkit-scrollbar-track-piece{background: #f8f4f4; border-radius: 50px;}	/* Fond Grise Clair */
	::-webkit-scrollbar-thumb{background-image: url(../Images/Barre.png); background-position: center; background-repeat: no-repeat; background-size: cover;   border-radius: 50px; height: 35%;}	/* Image Barre de Scroll */
	::-webkit-scrollbar-button{background: #a8a8a8;}	/* Boutons Barre de Scroll */
	::-webkit-scrollbar-corner{background: #f8f4f4}	/* Coin Inférieur Droit */
/* Barre de Scroll*/



/* Texte de la Page */
p{
	color:#111111;
	padding: 5px;
}

/* Titre Principal */
.dixpourcent{width: 10%}
#TitrePrincipal{width: 10%;}
h1{
	background-color: #004c00;
	color:rgb(230, 230, 230);
	font-weight: bold;
	text-align: center;
}

/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
	font-weight: bold;
	text-align: center;
}

/* Styles des Grandes Parties */
.Partie{
	background-color: rgba(0, 0, 0, 0.1);
	border: 5px solid #1b4c77;
	margin: 5px 5px 40px 5px;
}

/* Titres de Parties */
.TitrePartie{font-weight: bold;}

/* Style Partie des Liens */
#LiensUtiles{
	border-style: solid none;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 5px 5px 10px 5px;
}

/* Couleur des Liens */
#LiensUtiles a, #LienPerm{color:#1a0dab}
#LiensUtiles a:visited, #LienPerm{color:#1a0dab}
#LiensUtiles a:hover {color:rgb(229, 53, 209)}
#LienPerm:hover{color: #11096c;}

#Flamme{width: 100%}
#LiensUtiles td{color: black;text-align: left;}



/* Style Image Bourse */
#Bourse{
	display: block;
	width: 40%;
	margin: auto;margin-bottom: 30px
}
td{color:#e0e1e5}




/* Styles Sommaires */
summary{
	padding:0.5em;
	cursor: pointer;
	background-color: rgba(44, 72, 50, 0.5);
	margin: 0px 0px 30px 0px;
	color:white
}
details{
	background-color: rgba(44, 72, 50, 0.60);
	margin: 0px 10px 30px 10px
}



/* Styles Tableaux */
table{margin-bottom: 30px}
td{width : 33%;text-align :center} /* Centrer Éléments */



/* Effet de Loupe */
.loupe {
	transition: transform .2s; /* Animation */
	width: 90%;
  }
  
.loupe:hover {
	transform: scale(1.25); /* Zoom 125% */
  }



/* Bouton Lien Externe */
.LienExterne{
	padding: 4px 5px 4px;
	border-radius: 4px;
	background-color: #1b4c77;
	color:white;
	font-weight: bold;
	margin-left: 10px;
	text-decoration: none;
}
#IconeLienExterne{width: 12px;}
.LienExterne:active{position:relative;top:1px}



/* Style Image Objets */
#Objets{
	width: 80%;
	margin: 10px 10px 10px 30px;
	border: 4px solid #030219;
}
#Boutique li{text-align: left;}


#IndicateurDirect{
	margin:0px 0px 20px 20px;
	width: 35%;
	background-image: url(Fond.jpg);
	border: 3px solid #2d2d2d;
}

#IndicateurDirect p{color:#EEEEEE}

#Actualisation{
	float: right;
	background-color: silver;
	width: 5%;
	cursor: pointer;
}
button img{width: 120%;}

.Tiers{width: 33%;}
.DeuxTiers{width: 67%;}

#Boutique li{margin-bottom: 20px;}

/* Barre du Bas */
#BarreDuBas {
	position: fixed; /* Immobile */
	bottom: 0; /* Bas de l'écran */
	width: 90%; /* Taille à 100% */
	padding: 2px 0px 2px 0px; /* Extension de 5px vers le Haut */
	text-align: center; /* Centrage Horizontal */
	vertical-align: middle; /* Centrage Vertical */
	background: rgba(0, 0, 10, 0.8); /* Couleur Fond Barre */
}
/* Barre du Bas */