/* Fond de Page */
body{
	background-image: linear-gradient(
		rgba(217, 216, 160, 0.9)	,
		rgba(228, 230, 109, 0.9))	, url("");
}

/* Titre Principal */
h1{
	background-color: rgb(181, 181, 0);
	color:rgb(230, 230, 230);
}

/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
}

/* Styles des Grandes Parties */
.Chanson{
	margin: 5px 5px 40px 5px;
	padding: 5px 10px 20px 10px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.05);

}
.NomChanson{
    font-style: italic;
}
.NomChanson:hover{
    text-decoration: underline black;
    cursor: pointer;
}
.TraductionTitre{
    text-decoration: underline;
    cursor: help;
}

.ParolesFR{
    width: min(450px, 100%);
}
.ParolesBIL{
    width: min(900px, 100%);
}
.Paroles{
    text-align: justify;
}
.Paroles td{
    border: #030219 1px solid;
    width: 50%;
    margin: auto;
    padding: 1%;
    vertical-align: sub;
    background-color: rgba(0, 0, 0, 0.1);
}

.ParolesB{
    font-style: italic;
}
.ParolesA, .ParolesB{
    font-weight: 600;
    font-size: larger;
    text-align: center;
    width: 95%;
    background-color: #a13e3c;
    color: white;
    display: inline-block;
    cursor:pointer;
}


.BoutonsLiens{
  display: flex;
  flex-wrap: wrap;  
  width: 100%;
  text-align: left;
  margin: 1% auto;
}

.BoutonsLiens a{
    margin: 0 5px;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
    border: 2px solid #a13e3c;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    padding: 10px 15px;
    color: #000;
    transition: 0.3s;
}
.BoutonsLiens a:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.75)
}