html{
	background-color : #030219;background: url(../Images/DrapeauBreton.png) no-repeat center fixed;  /* Fond Drapeau Breton */
	background-size: cover; /* Agrandir Drapeau à la taille de l'écran */
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
}

/* Corps de la Page */
body{
	/*background-color: rgba(255, 255, 255, 0.8);*/
	background-image: linear-gradient(rgba(200, 190, 187, 0.9),rgba(200, 180, 154, 0.9) ), url("");
	width: 90%;
	margin: 20px auto 50% auto;
	border: 3px solid #EEEEEE;
}

/* Sélection de Texte Violette */
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
  }
  /* Sélection de Texte Violette */
  
  
  
/* Barre de Scroll */
	::-webkit-scrollbar {width: auto;}					 /* Taille Automatique */
	::-webkit-scrollbar-track-piece{background: #f8f4f4; border-radius: 50px;}	/* Fond Grise Clair */
	::-webkit-scrollbar-thumb{background-image: url(../Images/Barre.png); background-position: center; background-repeat: no-repeat; background-size: cover;   border-radius: 50px; height: 35%;}	/* Image Barre de Scroll */
	::-webkit-scrollbar-button{background: #a8a8a8;}	/* Boutons Barre de Scroll */
	::-webkit-scrollbar-corner{background: #f8f4f4}	/* Coin Inférieur Droit */
/* Barre de Scroll*/


/* Texte de la Page */
p {
  color:#111111;
	padding: 5px 10px 5px 10px;
}
/* Texte de la Page */

/* STYLE DES BOUTONS SUR LA FEUILLE CSS 'StyleBoutons.css' */

/* ---------------------------------------------------------------- */
/* PARAMÈTRES GÉNÉRAUX */










/* PARAMÈTRES SPÉCIFIQUES */
/* ---------------------------------------------------------------- */



/* Bouton Retourner au Menu*/
  #BoutonMenu{
    float: right;
    padding: 5px;
    box-shadow:0 0 10px rgb(231, 187, 159); border-radius:0em 0em 0em 0.5em; background-color: rgba(255, 255, 255,0.5)
    }
  #BoutonMenu::selection{
    background-color: transparent; /* Fond Violet */}
/* Bouton Retourner au Menu*/




/* Titre Principal */
.dixpourcent{width: 10%}
#TitrePrincipal{width: 10%;}
h1{
	background-color: #a96522;
	color:rgb(230, 230, 230);
	font-weight: bold;
	text-align: center;
}
/* Titre Principal */
/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
	font-weight: bold;
	text-align: center;
}

h3{	padding: 5px 10px 5px 10px;
}


.AncreMenu{
  font-size: 125%;
  background-color: rgb(255,175,0);
  }
/* Ancre Menu - P2 */

summary{
  font-size: 1.5em;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  cursor: pointer;
}
details{margin-top: 10px;}



/* Pronoms Personnels*/
#PronomsPersonnels{
  width:20%;
  display: block;
    margin-inline-start: 10px; /* Horizontal Début */
    margin-inline-end: 10px; /* Horizontal Fin */
    text-align: left;
    font-size: 15px;
    background-color:  rgb(248, 248, 248,0.8);
    margin-top:15px; margin-bottom:15px; box-shadow:0 0 10px rgb(255, 0, 255); width:auto; display:table; border:10px solid rgb(248, 248, 248,0);; border-radius:0.5em 0.5em 0.5em 0.5em; background-color: rgb(248, 248, 248,0.8); 
  }
/* Pronoms Personnels*/



/* Texte Surligné - P3 */
p3 {
  background-color: rgb(255, 30, 0);;
  color: rgb(255, 255, 255);
}
/* Texte Surligné - P3 */

#Semer   {
  width:15%; 
  margin: 0px 20px 0px 20px;
  text-align: center; /* Alignement du Texe */
  font-size: 15px; /* Taille de Police 15 au lieu de 16. */
  background-color:  rgb(248, 248, 248,0.8); /* Fond des Blocs */
  border: 2px solid rgb(63, 63, 63)  ;
}


/* Verbes Irréguliers */
#VerbesIrréguliers{
  display: flex;
  justify-content:space-around;
}

#Être, #Avoir, #Savoir, #Aller, #Faire{
  width:20%; 
  margin: 0px 20px 0px 20px;
  text-align: center; /* Alignement du Texe */
  font-size: 15px; /* Taille de Police 15 au lieu de 16. */
  background-color:  rgb(248, 248, 248,0.8); /* Fond des Blocs */
}


#Être   {border: 2px solid rgb(255, 0, 0)  ;}  /* Être - Rouge    */
#Avoir  {border: 2px solid rgb(255, 0, 255);}  /* Avoir - Magenta */
#Savoir {border: 2px solid rgb(0, 0, 255)  ;}  /* Savoir - Bleu   */
#Aller  {border: 2px solid rgb(0, 255, 0)  ;}  /* Aller - Vert    */
#Faire  {border: 2px solid rgb(255, 255, 0);}  /* Faire - Jaune   */
/* Verbes Irréguliers */



/* Infinitifs */
#Infinitif{
  display: flex;
  justify-content:space-around;
}
/* Infinitifs */



/* Texte Multicolore - P4 */
#TextColor {
  color: rgb(6, 6, 208) /* Couleur par Défaut */
}
/* Texte Multicolore - P4 */



/* Nombres */
.NombresZéroNeuf, .NombresDixDixDeuf, .NombresVingtQuaranteDeux, .NombresCinquanteQuatreVingtDixNeuf, .NombresCentMilliard {
  margin: 1em 0; /* Saut de Ligne */
  border: 1px solid #a2a9b1; /* Bordure */
  border-collapse: collapse; /* Modèle de Bordure */
  text-align: left; /* Alignement Texte */
  margin: 5px 10px 5px 10px;

}

.NombresZéroNeuf{                   background-color: rgba( 0 ,  0 , 255,0.15);}
.NombresDixDixDeuf{                 background-color: rgba( 0 , 255,  0 ,0.15);}
.NombresVingtQuaranteDeux{          background-color: rgba(255,  0 ,  0 ,0.15);}
.NombresCinquanteQuatreVingtDixNeuf{background-color: rgba(255, 255,  0 ,0.15);}
.NombresCentMilliard{               background-color: rgba(255,  0 , 255,0.15);}
/* Nombres */


/* Quiz */
#Quiz{
  float: right; /* Position */
  border: 2px solid rgba(212, 33, 33, 1); /* Bordure */
  background-color: rgba(150, 150, 150, 0.5); /* Couleur de Fond*/
  text-align: center; /* Alignement Texte */
  margin-right: 5px;
}
/* Quiz */



/* Image Famille */
#Famille{
    border: 7px solid #999999; /* Bordure */
    float: right; /* Position */
}
/* Image Famille */


/* Barre du Bas */
#BarreDuBas {
	position: fixed; /* Immobile */
	bottom: 0; /* Bas de l'écran */
	width: 90%; /* Taille à 100% */
	padding: 2px 0px 2px 0px; /* Extension de 5px vers le Haut */
	text-align: center; /* Centrage Horizontal */
	vertical-align: middle; /* Centrage Vertical */
	background: rgba(0, 0, 10, 0.8); /* Couleur Fond Barre */
}
/* Barre du Bas */
