/* Fond de Page */
body{
	background-image: linear-gradient(
		rgba(200,200,255,0.9)	,
		rgba(95, 95, 198, 0.9))	, url("");
}

h1{
	background-color: #00004c;
	color:rgb(230, 230, 230);
}

/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
}

/* Styles des Grandes Parties */
.Partie{
	background-color: rgba(0, 0, 0, 0.1);
	border: 5px solid #000064;
	margin: 5px 5px 40px 5px;
	padding: 5px 10px 20px 10px;
}

/* Texte de la Page */
p{
	font-weight: bold;
}

/* Alignement Images (Max=100)*/
td{width : 1%;text-align :center}

/* GUERRE DE BRETAGNE */
#guerrebzh_DrapeauBZH		{width: 80% }
#guerrebzh_Carte			{width: 80% }
#guerrebzh_DrapeauFR		{width: 80% }
#guerrebzh_DrapeauSERG		{width: 25px}
#guerrebzh_DrapeauANG		{width: 25px}
#guerrebzh_DrapeauRCA		{width: 15px}
#guerrebzh_Anne				{width: 60% }
#guerrebzh_Max				{width: 60% }
#guerrebzh_Carte1488		{width: 100%}
#guerrebzh_CarteBreizh		{width: 40% }

/* ANNE DE BRETAGNE */
#anne_DrapeauNantes  		{width: 90% } 
#anne_Écusson        		{width: 70% } 
#anne_Anne			 		{width: 60% }
#anne_Maximilien     		{width: 80% }
#anne_Europe 		 		{width: 69% }
#anne_CarteBreizh	 		{width: 35% }
#anne_DrapeauRCA	 		{width: 15px}

/* DUCHÉ DE BRETAGNE */
#duche_DrapeauBretagne		{width: 80%	}
#duche_Carte				{width: 80%	}
#duche_Armoiries			{width: 90%	}
#duche_AlainII				{width: 50%	}
#duche_Vikings				{width: 100%}
#duche_JeanDeMonfort		{width: 65%	}
#duche_GuerreDeBretagne		{width: 30%	}

/* ROYAUME DE BRETAGNE */
#royaume_Nominoe			{width: 65% }
#royaume_Erispoe			{width: 100%}
#royaume_AlainI 			{width: 50% }
#royaume_Nominoe2			{width: 65% }
#royaume_Marches			{width: 100%}
#royaume_Dol				{width: 70% }
#royaume_Salomon			{width: 90% }
#royaume_CarteRoyaume		{width: 75% }
#royaume_Blason				{width: 60% }

/* NOMINOË */
#nominoe_Vannes				{width: 60% }
#nominoe_Nominoe			{width: 55% }
#nominoe_BlasonBreton		{width: 60% }
#nominoe_Marche				{width: 100%}
#nominoe_Dolois				{width: 60% }
#nominoe_Quimper			{width: 60% }
#nominoe_BlasonRennes		{width: 60% }
#nominoe_BlasonNantes		{width: 60% }
#nominoe_CarteNominoeMarches{width: 100%}

/* ERISPOË */
#erispoe_Gravure			{width: 90% }
#erispoe_Erispoe			{width: 45% }
#erispoe_GravureColorisee	{width: 90% }
#erispoe_CarteFrancie 		{width: 85% }
#erispoe_CarteNominoeMarches{width: 80% }
#erispoe_CharlesLeChauve 	{width: 60% }
#erispoe_Salomon			{width: 100%}
#erispoe_HorikIer			{width: 60% }
#erispoe_BlasonRois			{width: 60% }

/* SALOMON */
#salomon_Salaun				{width: 45%}
#salomon_Salomon			{width: 100%}
#salomon_StSalomon			{width: 37%}
#salomon_Roi				{width: 60%}
#salomon_BretagneSalomon	{width: 100%}
#salomon_BlasonRois			{width: 75% }
#salomon_CharlesLeChauve 	{width: 55%}
#salomon_Vikings			{width: 100%}
#salomon_Eglise				{width: 52%}

/* GUERRE DE SUCCESSION DE 874 */
#guerresuccession874_Vannes{width: 60%;}
#guerresuccession874_Arbre{width:100%;}
#guerresuccession874_Nantes{width: 60%;}
#guerresuccession874_Rennes{width: 60%;}
#guerresuccession874_Erispoe{width: 50%;}
#guerresuccession874_Alain{width: 60%;}

@media only screen and (max-width: 1000px) {
    #LiensUtiles td {
        display: block;
		width: 100%;
		font-size: 80%;
    }
	#Flamme{margin-top: 5%;}
	#TitrePrincipal{font-size: 55%;}
	h2{font-size: 95%;}
	h2 img{width: 18px;}
	p{font-size: 90%;}
}