html{
	background-color : #030219;background: url(../Images/DrapeauBreton.png) no-repeat center fixed;  /* Fond Drapeau Breton */
	background-size: cover; /* Agrandir Drapeau à la taille de l'écran */
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
}

/* Corps de la Page */
body{
	background-image: linear-gradient(rgba(200,200,255,0.9),rgba(95, 95, 198, 0.9) ), url("");
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid #EEEEEE;
}

/* Sélection de Texte Violette */
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
  }
/* Sélection de Texte Violette */

/* Barre de Scroll */
	::-webkit-scrollbar {width: auto;}					 /* Taille Automatique */
	::-webkit-scrollbar-track-piece{background: #f8f4f4; border-radius: 50px;}	/* Fond Grise Clair */
	::-webkit-scrollbar-thumb{background-image: url(../Images/Barre.png); background-position: center; background-repeat: no-repeat; background-size: cover;   border-radius: 50px; height: 35%;}	/* Image Barre de Scroll */
	::-webkit-scrollbar-button{background: #a8a8a8;}	/* Boutons Barre de Scroll */
	::-webkit-scrollbar-corner{background: #f8f4f4}	/* Coin Inférieur Droit */
/* Barre de Scroll*/



/* Titre Principal */
.dixpourcent{width: 10%}
#TitrePrincipal{width: 10%;}
h1{
	background-color: #030219;
	color:rgb(230, 230, 230);
	font-weight: bold;
	text-align: center;
}

/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
	font-weight: bold;
	text-align: center;
}

/* Texte de la Page */
p{
	color:#111111;
	padding: 5px;
}

/* Styles des Grandes Parties */
.Partie{
	background-color: rgba(0, 0, 0, 0.1);
	border: 5px solid #000064;
	margin: 5px 5px 40px 5px;
	padding: 5px 10px 20px 10px;

}

/* Titres de Parties */
.TitrePartie{font-weight: bold;}

/* Effet de Loupe (115%) */
.loupe{transition: transform .2s}
.loupe:hover{transform: scale(1.15)}

/* Style Partie des Liens et Couleur des Liens */
#LiensUtiles{
	border-style: solid none;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 5px 5px 10px 5px;
	padding: 0 10px 0 10px;}
#LiensUtiles a{color:rgb(0, 0, 113)}
#LiensUtiles a:visited{color:rgb(0, 0, 113)}
#LiensUtiles a:hover {color:green}
#LiensUtiles td{text-align: left;}
.Tiers{width: 33%}
.DeuxTiers{width: 67%}
#Flamme{width: 100%}

/* Alignement Images (Max=100)*/
td{width : 1%;text-align :center}





/* GUERRE DE BRETAGNE */
#guerrebzh_DrapeauBZH	{width: 80% }
#guerrebzh_Carte		{width: 80% }
#guerrebzh_DrapeauFR	{width: 80% }
#guerrebzh_DrapeauSERG	{width: 25px}
#guerrebzh_DrapeauANG	{width: 25px}
#guerrebzh_DrapeauRCA	{width: 15px}
#guerrebzh_Anne			{width: 60% }
#guerrebzh_Max			{width: 60% }
#guerrebzh_Carte1488	{width: 100%}
#guerrebzh_CarteBreizh	{width: 40% }

/* ANNE DE BRETAGNE */
#anne_DrapeauNantes  {width: 90% } 
#anne_Écusson        {width: 70% } 
#anne_Anne			 {width: 60% }
#anne_Maximilien     {width: 80% }
#anne_Europe 		 {width: 69% }
#anne_CarteBreizh	 {width: 35% }
#anne_DrapeauRCA	 {width: 15px}

/* DUCHÉ DE BRETAGNE */
#duche_DrapeauBretagne	{width: 80%	}
#duche_Carte			{width: 80%	}
#duche_Armoiries		{width: 90%	}
#duche_AlainII			{width: 50%	}
#duche_Vikings			{width: 100%}
#duche_JeanDeMonfort	{width: 65%	}
#duche_GuerreDeBretagne	{width: 30%	}

/* ROYAUME DE BRETAGNE */
#royaume_Nominoe		{width: 65% }
#royaume_Erispoe		{width: 100%}
#royaume_AlainI 		{width: 50% }
#royaume_Nominoe2		{width: 65% }
#royaume_Marches		{width: 100%}
#royaume_Dol			{width: 70% }
#royaume_Salomon		{width: 90% }
#royaume_CarteRoyaume	{width: 75% }
#royaume_Blason			{width: 60% }

/* NOMINOË */
#nominoe_Vannes				{width: 60% }
#nominoe_Nominoe			{width: 55% }
#nominoe_BlasonBreton		{width: 60% }
#nominoe_Marche				{width: 100%}
#nominoe_Dolois				{width: 60% }
#nominoe_Quimper			{width: 60% }
#nominoe_BlasonRennes		{width: 60% }
#nominoe_BlasonNantes		{width: 60% }
#nominoe_CarteNominoeMarches{width: 100%}





/* Barre du Bas */
#BarreDuBas {
	position: fixed; /* Immobile */
	bottom: 0; /* Bas de l'écran */
	width: 90%; /* Taille à 100% */
	padding: 5px 0px 5px 0px; /* Extension de 5px vers le Haut */
	text-align: center; /* Centrage Horizontal */
	vertical-align: middle; /* Centrage Vertical */
	background: rgba(0, 0, 10, 0.8); /* Couleur Fond Barre */
}
/* Barre du Bas */