#DrapeauBZH, #Carte, #DrapeauFR{
    width : 80%;
	text-align :center;
}

/* Alignement Images */
td{
	width : 33%;
	text-align :center;
}

/* Fond de la Page */
html{background-color : #030219;background: url(https://gaelbzh.github.io/DrapeauBreton.png) no-repeat center fixed;  /* Fond Drapeau Breton */
  background-size: cover; /* Agrandir Drapeau à la taille de l'écran */
  font-size: 16px; /* Taille Texte par Défaut */
  font-family:Arial; /* Police par Défaut */}



/* Corps de la Page */
body{
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-image: linear-gradient(rgba(200,200,255,0.9),rgba(95, 95, 198, 0.9) ), url("");
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid #EEEEEE;
}

/* Texte de la Page */
p{
	color:#111111;
	padding: 5px;
}

/* Titre Principal */
h1{
	background-color: #030219;
	color:rgb(230, 230, 230);
	font-weight: bold;
	text-align: center;
}

/* Sous-Titre Principal*/
h2{
	background-color:rgba(230, 230, 230,0.5);
    color: #030219;
	font-weight: bold;
	text-align: center;
}

/* Styles des Grandes Parties */
.Partie{
	background-color: rgba(0, 0, 0, 0.1);
	border: 5px solid #000064;
	margin: 5px 5px 40px 5px;
}

/* Titres de Parties */
.TitrePartie{font-weight: bold;}

/* Style Partie des Liens */
#Bas{
	border-style: solid none;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 5px 5px 10px 5px;
}

/* Alignement Images */
tr{text-align: right}
td{
	width : 33%;
	text-align :center;
}

/* Liens */
a{color:rgb(0, 0, 113)}
a:visited{color:rgb(0, 0, 113)}
a:hover {color:green}


#DrapeauSERG, #DrapeauANG{
    width: 25px;
}

#DrapeauRCA{
    width: 15px;
}

#Anne, #Max{
    width : 60%;
	text-align :center;
}

#Carte1488{width: 100%;}

#CarteBreizh{width: 50%;}

#Flamme{width: 70%;float: right;}