/* STYLES GLOBAUX */
html{
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
	scroll-behavior: smooth;
}
body{margin: 0;padding: 0;font-family: Arial, sans-serif;background-color:rgb(232,232,232)}
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
}
::-webkit-scrollbar {width: auto;background-color: rgb(241, 241, 241);}					 /* Taille Automatique */
::-webkit-scrollbar-thumb{border: 1px solid rgb(241, 241, 241); background-color: var(--color);}	/* Image Barre de Scroll */
:root{
    --color: rgb(14, 14, 105);
    --colorclair: rgb(54, 54, 145);
    --texte: #000000;
}
/* STYLES GLOBAUX */









/* HEADER */
header{
    background-color: var(--color);
    text-align: center;
    width: 100%;
}
header a{
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
    font-size: 100px;
    font-weight: 600;
}
header img{width: 110px;
    vertical-align: -8px;}

.Themes{
    display: flex;
    flex-wrap: wrap;  
    color:black;
    width: 100%;
    font-family: Arial,sans-serif;
    background-color: var(--colorclair);
    border-bottom: 1px solid var(--color);
    justify-content: center;
    margin: 0 auto;
    text-align: center
}

.Themes a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 0 10px;
    padding: 7px 0 0;
    border-bottom: 7px solid transparent;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    font-size: .875rem;
    line-height: 1.45rem;
    text-transform: uppercase;
}
.Themes a:hover {
    border-bottom-color: rgba(255, 255, 255,0.8)
}
.Themes input, .Themes input::placeholder{
    background-color: var(--colorclair);
    color:rgba(255, 255, 255, 0.8);
}
.Themes form{
    margin-top: 7px;
}
/* HEADER */


/* MAIN */
h3{
    background-color: var(--color);
    transform: skewX(-15deg);
    color:white;
    display:inline-block;
    padding:5px;
    margin-left: 2.5%;
}

.BDD table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
}

.BDD td{
    padding: 4px;
}

.BDD th {
    background-color: var(--color);
    color: whitesmoke;
    font-size: larger;
}



.BDD tr.even {
    background-color: white;
}

.BDD tr.odd {
    background-color: rgb(245, 245, 245);
}

.BDD tr:hover {
    background-color: rgb(87, 124, 179);
    color: aliceblue;
}

.containerTableau{
    width: 95%;
    margin: auto auto 10px;
}
.BDD {
    overflow-x: auto;
    margin-bottom: 10px;
    max-height: 700px; /* Ajustez la hauteur maximale selon vos besoins */
    border: 1px solid black;
    padding-block-start: none;
}
.BDD tbody tr:nth-child(1){
    position: sticky; /* Immobile */
    top: 0px;
}

#FakeTable{
    display: none; /* Défaut */
    width: 100%;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
    padding: 4px;
}

#FakeTable:hover {
    background-color: rgb(87, 124, 179);
    color: aliceblue;
}

#RechercherCommune, #RechercherCommune::placeholder
{
    background-color: var(--color);
    color: rgba(255, 255, 255, 0.8);
    caret-color: red;
}

#advance summary{
    margin: 10px;
    padding: 5px 10px;
    background-color: var(--color);
    width: 160px;
    color: white;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
}
#advance summary:hover{
    box-shadow: 0 2px 4px rgb(0, 0, 0)
}

#Filtre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Assurez-vous que le z-index est plus élevé que le reste du contenu */
    background-color: white; /* Ajoutez une couleur de fond pour le contraste */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre pour un effet de profondeur */ 
    border: 5px ridge green;
    padding: 5px;
    font-size: 0.85em;
}

#Filtre label:not([for="strictButton"]){
    border: 1px solid var(--color);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    text-align: justify;

}
#Filtre button{
    border: 1px solid var(--color);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    text-align: justify;

}

#Filtre label:not([for="strictButton"]):hover{
    background-color: var(--colorclair);
    color: rgba(255, 255, 255, 0.8);
}


#Filtre h4 span{
    background-color: var(--color);
    color:white;
    padding:5px;
    margin-left: 2.5%;
}

#Filtre .containerClose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Filtre #closeButton{
    aspect-ratio: 1/1;
    text-align: center;
    width: 30px;
    background-color: red;
    color:white;
    margin-left: auto;
    border-radius: 2px;
    font-size: 1.5em;
    transition: 0.15s;
}

#Filtre #closeButton:hover{
    transform: scale(1.25);
}



#Filtre .containerStrict {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#TextRechStricte{
    padding-right: 5px;
    text-decoration: underline;
}
.containerStrict {
    display: flex;
    align-items: center;
}

.containerStrict span {
    margin-left: 10px; /* Espacement entre le bouton et le texte */
    cursor: help;
}

.containerStrict .tgl + .btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0; /* Réinitialisation des marges */
}
.containerStrict .tgl {display: none}
.containerStrict .tgl, .containerStrict .tgl:after, .containerStrict .tgl:before, .containerStrict .tgl *, .containerStrict .tgl *:after, .containerStrict .tgl *:before, .containerStrict .tgl + .btn {
  box-sizing: border-box;
}
.containerStrict .tgl + .btn {
  outline: 0;
  display: block;
  width: 3.5em;
  height: 1.75em;
  position: relative;
  cursor: pointer;
}
.containerStrict .tgl + .btn:after, .containerStrict .tgl + .btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.containerStrict .light:checked + .btn {background: var(--colorclair)}
.containerStrict .tgl + .btn:after {left: 0}
.containerStrict .tgl:checked + .btn:after {left: 50%}
.containerStrict .tgl + .btn:before {display: none}
.containerStrict .light + .btn {
  background: #e3e3e3;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.containerStrict .light + .btn:after {
  border-radius: 50%;
  background: silver;
  transition: all 0.2s ease;
}



#Filtre .selectionbutton{
    margin-top: 10px;
    background-color: rgb(9, 106, 158);
    opacity: 75%;
    color: rgb(240, 240, 240);
    font-weight: 600;
    border: 2px solid transparent;
    font-size: 0.8em;
}

#Filtre button:hover{
    opacity: 0.8;
    border-color: black;
}



/* MAIN */


/* FOOTER */
footer{    background-color: var(--color);
}
#Barre{
    text-align: left;
    width: 100%;
    position: sticky; /* Immobile */
	bottom: 0; /* Bas de l'écran */
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
    z-index: 4;
}
#Barre a{
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}
#Barre #Glosbe{
    width: 28px;
    vertical-align: -1px;
}
#Barre ul {
    display: flex;
    width: 10%;
    text-align: center
}
#Barre li {
    display: inline-block;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    text-transform: uppercase
    
}
#Slogan {
    text-transform: uppercase;
    font-size: 1.20rem;
    padding-left: 50px;
    color: #fff;
    font-weight: 700;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
}
#Copyright{
    font-size: .6875rem;
    padding: 20px 35px;
    margin: auto;
    line-height: 22px;
    color: rgb(255, 255, 255,0.3);
    text-align: center;
}
/* FOOTER */
