/* STYLES GLOBAUX */
html{
	font-size: 100%; /* Taille Texte par Défaut */
	font-family:Arial; /* Police par Défaut */
	scroll-behavior: smooth;
}
body{margin: 0;padding: 0;}
::selection {
	background-color: rgb(88, 101, 242); /* Fond Violet */
	color: rgb(255,255,255) /* Texte Blanc */
}
::-webkit-scrollbar {width: auto;background-color: rgb(241, 241, 241);}					 /* Taille Automatique */
::-webkit-scrollbar-thumb{border: 1px solid rgb(241, 241, 241); background-color: var(--phpcolor);}	/* Image Barre de Scroll */
:root{
    --phpcolor: #fc7825;
    --phpcolorclair: #ffa46b;
    --texte: #000000;
}
/* STYLES GLOBAUX */









/* HEADER */
header{
    background-color: var(--phpcolor);
    text-align: center;
    width: 100%;
}
header a{
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
    font-size: 120px;
    font-weight: 600;
}
header img{width: 115px;
    vertical-align: -15px;}

.Themes{
    display: flex;
    flex-wrap: wrap;  
    color:black;
    width: 100%;
    font-family: Arial,sans-serif;
    background-color: var(--phpcolorclair);
    border-bottom: 1px solid var(--phpcolor);
    justify-content: center;
    margin: 0 auto;
    text-align: center
}

.Themes a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 10px 10px 0;
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    font-size: .875rem;
    line-height: 1.45rem;
    text-transform: uppercase;
}
.Themes a:hover {
    border-bottom-color: rgba(255, 255, 255,0.8)
}
/* HEADER */












/* FOOTER */
footer{    background-color: var(--phpcolor);
}
#Barre{
    text-align: left;
    width: 100%;
    position: sticky; /* Immobile */
	bottom: 0; /* Bas de l'écran */
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}
#Barre a{
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
    font-size: 45px;
    font-weight: 600;
}
#Barre #Glosbe{
    width: 40px;
    vertical-align: -5px;
}
#Barre ul {
    display: flex;
    width: 10%;
    text-align: center
}
#Barre li {
    display: inline-block;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
    text-transform: uppercase
    
}
#Slogan {
    text-transform: uppercase;
    font-size: 1.875rem;
    padding-left: 50px;
    color: #fff;
    font-weight: 700;
    font-family: Pilat Narrow Bold,Pilat Narrow-fallback,sans-serif;
}
#Copyright{
    font-size: .6875rem;
    padding: 20px 35px;
    margin: auto;
    line-height: 22px;
    color: rgb(255, 255, 255,0.3);
    text-align: center;
}
/* FOOTER */